{{define "techno_experiences"}}
    <div class="cv-tree">
        <div class="tree">
            <ul>
                <li><h3> Experience</h3>
                    <ul>
                        {{range $k, $experience := .Experiences}}
                            <li><span class="folder-title"> {{ $k }}</span>
                                <ul>
                                    {{ range $item := $experience }}
                                        {{ if $item.title }}
                                            <li><img class="noprint" style="height: 18px;"
                                                     src="/images/technos/{{ $item.img }}"
                                                     alt="{{ $item.title }}"/> {{ $item.title }}</li>
                                        {{end}}
                                        {{ if not $item.title }}
                                            {{range $k, $subexperience := $item}}
                                                <li><span class="folder-title"> {{ $k }}</span>
                                                    <ul>
                                                        {{ range $subitem := $subexperience }}
                                                            <li><img class="noprint" style="height: 18px;"
                                                                     src="/images/technos/{{ $subitem.img }}"
                                                                     alt="{{ $subitem.title }}"/> {{ $subitem.title }}
                                                            </li>
                                                        {{end}}
                                                    </ul>
                                                </li>
                                            {{end}}
                                        {{end}}
                                    {{end}}
                                </ul>
                            </li>
                        {{end}}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{{end}}
