{{define "technos"}}
    <!doctype html>
    <html class="no-js" lang="{{ .Locale }}">
    {{template "head" .}}
    <body class="profile-page sidebar-collapse">
    {{template "header" .}}
    {{template "technos_body" .}}
    {{template "footer" .}}
    </body>
    </html>
{{end}}
{{define "technos_body"}}
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <section class="content2">
                        <div class="small-6 columns columns-part1">
                            <span>Mehdi Youb</span>
                            <br>
                            <span>75019 Paris</span>
                            <br>
                            <span>medzoner@medzoner.com</span>
                            <br>
                            <span>https://github.com/Medzoner</span>
                        </div>
                        <div class="s11 small-6 columns columns-part1">
                            <span>Né le 03/03/1983</span>
                            <br>
                            <span>Nationalité Française</span>
                            <br>
                            <span>Permis B</span>
                            <br>
                            <span>https://hub.docker.com/r/medzoner</span>
                        </div>
                        <hr>
                        <h2>Développeur et Devops</h2>

                        {{template "techno_stacks" .}}

                        {{template "techno_experiences" .}}

                        {{template "techno_formations" .}}

                        {{template "techno_langs" .}}

                        {{template "techno_others" .}}
                    </section>
                </div>
            </div>
        </div>
    </div>
{{end}}