{{define "techno_others"}}
    <div class="cv-tree">
        <div class="tree">
            <ul>
                <li><h3> Divers</h3>
                    <ul>
                        {{range $k, $other := .Others}}
                            <li><span class="folder-title"> {{ $k }}</span>
                                <ul>
                                    {{ range $item := $other }}
                                        {{ if $item.title }}
                                            <li>{{ $item.title }}</li>
                                        {{end}}
                                    {{end}}
                                </ul>
                            </li>
                        {{end}}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{{end}}
