/vendor/*

.idea
.air.toml
/config/parameters.yml
/patches
/web/media/cache
/bower_components/
/app/cache/
/app/logs/
/node_modules/
/build
/docker/.env
/.env
/tmp/
/app/spool/
/log
/web/dev
/.var/*
/admin.conf
/admin.conf.base64
/bin/*
!/bin/console
/web/css/
/web/fonts/
/web/js/
/web/images/
/web/rev-manifest-css.json
/web/rev-manifest-js.json
/medzoner/
/.var/log/*.log
!/.var/test/
coverage.out
coverage.html
/.config/
__debug_bin*
trace.out
skaffold
!.gitkeep
.aider*
/var/
/test/profiler/main.go
skaffold.env
/github-actions
/github-actions.pub
