{{define "layout"}}
<!doctype html>
<html class="no-js" lang="{{ .Locale }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .PageTitle }}</title>

    <link rel="icon" href="/images/logo-single-small.png" sizes="32x32">
    <link rel="stylesheet" href="/css/app.min.css" />
    <link href="https://cdn.rawgit.com/walchko/techno-font/v0.7.3/assets/techno-font.css" rel="stylesheet">
</head>
<body>

{{template "header" .}}
{{template "content" .}}
{{template "footer" .}}

<script src="https://use.fontawesome.com/14bb74bd50.js"></script>
<script src="/js/app.js"></script>

<script>
    $(document).ready(function () {
                $(document).foundation({
                        reveal: {
                            animation_speed: 500
                        },
                    tooltip: {
                            disable_for_touch: true
                        },
                    topbar: {
                            custom_back_text: false,
                                is_hover: true,
                                mobile_show_parent_link: true
                        }
                });
    });
</script>
</body>
</html>
{{end}}