{{define "footer"}}
    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="https://github.com/Medzoner">
                            <i class="fa fa-github"></i>
                            Github
                        </a>
                    </li>
                    <li>
                        <a href="https://hub.docker.com/r/medzoner">
                            <i class="tf-docker tf-32"></i>
                            Dockerhub
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/mehdi-youb-53905210">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                            Linkedin
                        </a>
                    </li>
                    {{ if .TorHost }}
                    <li>
                        <a href="http://{{ .TorHost }}">
                            <img src="/public/images/technos/tor.svg" alt="tor" width="14" />
                            Thor
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <div class="copyright float-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, made with <i class="material-icon"><img src="/public/images/skateboard.png" style="height: 20px;" alt="skateboard"/></i> by
                <a href="https://github.com/Medzoner/" target="_blank">Medzoner</a>.
            </div>
        </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" type="text/javascript"></script>
    <script src="/public/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-kit/2.0.7/js/material-kit.min.js" type="text/javascript"></script>
    <script>
        function initRecaptcha(){
            var recaptchaScript = document.createElement('script');
            recaptchaScript.type = 'text/javascript';
            recaptchaScript.src = 'https://www.google.com/recaptcha/api.js';
            recaptchaScript.id = 'google-recaptcha-js';
            document.body.appendChild(recaptchaScript);
        }
        window.addEventListener('scroll', function (){
            initRecaptcha();
        }, {once:true});
        function scrollToDownload() {
            if ($('.section-download').length != 0) {
                $("html, body").animate({
                    scrollTop: $('.section-contacts').offset().top
                }, 1000);
            }
        }
    </script>
{{end}}
