{{define "footer"}}
    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="https://github.com/Medzoner">
                            <i class="fa fa-github"></i>
                            Github
                        </a>
                    </li>
                    <li>
                        <a href="https://hub.docker.com/r/medzoner">
                            <i class="tf-docker tf-32"></i>
                            Dockerhub
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/mehdi-youb-53905210">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                            Linkedin
                        </a>
                    </li>
                    {{ if .TorHost }}
                    <li>
                        <a href="http://{{ .TorHost }}">
                            <img src="/public/images/technos/tor.svg" alt="tor" width="14" />
                            Thor
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <div class="copyright float-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, made with <i class="material-icon"><img src="/public/images/skateboard.png" style="height: 20px;" alt="skateboard"/></i> by
                <a href="https://github.com/Medzoner/" target="_blank">Medzoner</a>.
            </div>
        </div>
    </footer>
    <script>
        function initRecaptcha(){
            var recaptchaScript = document.createElement('script');
            recaptchaScript.type = 'text/javascript';
            recaptchaScript.src = 'https://www.google.com/recaptcha/api.js';
            recaptchaScript.id = 'google-recaptcha-js';
            document.body.appendChild(recaptchaScript);
        }
        window.addEventListener('scroll', function (){
            initRecaptcha();
        }, {once:true});

        function scrollToDownload() {
            let itemBtn = document.querySelector('.dropdown.nav-item.contact');
            let menuBtn = itemBtn.querySelector('.dropdown-menu.dropdown-with-icons');
            if (itemBtn.attributes.getNamedItem("closed") || !itemBtn.attributes.getNamedItem("open")) {
                itemBtn.setAttribute("open", "true");
                itemBtn.removeAttribute("closed");
                menuBtn.style.display = "block";
                menuBtn.style.opacity = "1";
                menuBtn.style.transform = "scale(1)";
            } else {
                itemBtn.setAttribute("closed", "true");
                itemBtn.removeAttribute("open");
                menuBtn.style.display = "none";
                menuBtn.style.opacity = "0";
                menuBtn.style.transform = "scale(0)";
            }
        }
    </script>
{{end}}
